numpy
numba
fastapi
uvicorn[standard]
pydantic
orjson
websockets
openskill
joblib
pytest
httpx  # fastapi.testclient
pytest-asyncio
ruff
mypy
pyyaml
motor
pymongo
python-dotenv
pandas
scikit-learn
pyarrow
matplotlib
scipy
Pillow